.ds-profileCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    padding: 6px;
}

.ds-profileCard-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ds-followCard-info {
    display: flex;
    flex-direction: column;
}

.ds-followCard-infoUsername {
    opacity: .6;
}

.ds-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.ds-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.ds-followCard-button:hover {
    opacity: .8;
    background-color: #5865F2;
    color: white;
}

.ds-followCard-text {
    display: block;
}

.ds-followCard-button.is-following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
}

.ds-followCard-button.is-following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
}

.ds-followCard-button.is-following:hover .ds-followCard-text {
    display: none;
}

.ds-followCard-button.is-following:hover .ds-followCard-stop{
    display: block;
}

.ds-followCard-stop {
    display: none;
}